.dietWrapper {
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
}


.dietTableTh {
    border-bottom: 2px solid #eca842;
    font-weight: bold;
}

.dailyGoalContainer {
    width: 200px;
    border: 1px solid #d3d3e6;
}

.dailyGoalContainer p {
    font-size: 15px;
    font-style: italic;
    color: #0000af;
}
.dailyGoal {
    font-size: 40px;
    font-weight: bold;
    color:green;
}

.dinamicTableTd {
    /* font-size:17px; */
    font-weight: bold;
    /* color:#43c9f3; */
    text-transform: capitalize;
    color: #43c9f3;
}

.mealTable {
    width: 20%;
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid #eee;
    box-shadow: #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.mealTable h3 {
    color: #0e7596;
}

.dangerZone {
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.errorStyleDiv {
    width: 60%;
    margin: auto;
}

.errorStyleDiv h3 {
    color: red;
}

.buttonDelete {
    background-color: red;
    border: red;
    border-radius: 45%;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 20px;
    
}

.fillCorrect {
   color:#477280;
    cursor:pointer;
}

.userTable {
    margin: 20px auto;
    
}


.marginTop {
    margin-top: 10px;
    background-color: white;
    text-align: center;
}


.leftColParagrafs {
    font-size: 25px;
    color: green;
}


.userTable button {
    margin-top: 30px;
}

h1 {
    color: #09b45dc9;
    font-size: 2rem; 
    font-style: normal;
    font-weight: bold;
}

h2 {
    color:#1ca560c9;
    font-size: 1.5rem;
    font-style: italic;
}


.btnConfirm-btnSucsses {
    width: 40px;
    height: 30px;
    background-color: green;
    border: 1px solid green;
    color: white;
    border-radius: 2px;
    margin: 5px;
}

.btnConfirm-btnCancel {
    width: 40px;
    height: 30px;
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 2px;
}



