.landing {
    background-color: white;
    height: 601px;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    position: relative;
}

.landing img {
    height: 100%;
    width: 100%;
}

.landing h2 {
    width: 206px;
    height: 40px;
    position: absolute;
    top: 60%;
    left: 70%;
    font-size: 12pt;
    text-align: center;
    background-color: lightblue;
}