.formStyle {
width: 63%;
margin: 20px auto;
border: 2px solid 888888;
padding: 20px;
box-shadow: 0 0 1px 1px rgba(50, 50, 50, 0.1);
background-color: white;
}

h1 {
color: orange;
font-style: italic;
}

.formHeader {
    padding-bottom: 25px;
}

h3 {
    color: #68d29c;
}

.span1 {
    font-size: 14px;
    vertical-align: middle;
}

.radioStyle {

    color: #149D56;
    font-size: 1rem;
}

.activity {
    color: rgb(86, 211, 124);
    font-size: 25px;
}


.inputColor {
    background-color: lightblue;
}

.labelText {
     color: whitesmoke;
     margin: auto; 
}


.mymodal {
    background-color: red;
    font-size: 200px;
}

.labelField {
    font-weight: bold;
    color: #149D56;
}

.genderHeight {
    padding-bottom: 25px;
}

.divRadio {
    padding: 20px;
}

.divRadio h4 {
    font-size: 1rem;
    color: #149D56;
}