.formStyle {
    width: 65%;
    margin: 20px auto;
    border: 2px solid 888888;
    padding: 20px;
    box-shadow:  0 0 1px 1px rgba(50, 50, 50, 0.1);
    background-color: white;
   
}

.formHeader {
    height: 77px;
}

h1 {
color: orange;
font-style: italic;
}

h3 {
    color: #68d29c;
}

.span1 {
    font-size: 14px;
    vertical-align: middle;
}

.radioStyle {

    color: green;
    font-size: 22px;
}

.activity {
    color: rgb(86, 211, 124);
    font-size: 25px;
}


.inputColor {
    background-color: lightblue;
}

.labelText {
     color: whitesmoke;
     margin: auto; 
   
}



.form-group {
    text-align: center;
}

.mymodal {
    background-color: red;
    font-size: 200px;
}

.labelField {
    font-weight: bold;
    color: #149D56;
}

.genderHeight {
    height: 77px;
}

.text-muted-left {
    width: 50%;
}