* {
    box-sizing: border-box;
  }
  
  .searchField input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  .searchField button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #52b463;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  .searchField button:hover {
    background: #4b7a53;
  }
  
 .searchField::after {
    content: "";
    clear: both;
    display: table;
  }